<html>
	<head>
		<title>$i18n.getText("impresence.template.localpresence.config.title", [ $reporter.name ] )</title>
	</head>
	<body>
		#if ($systemAdministrator)

            #parse ( "/template/includes/actionerrors.vm" )

            <div style="text-align:center;">
            #if ($reporter.requiresConfig())
              <div class="errorBox" style="margin:0px; margin-bottom:15px; width:80%; text-align:left;">
            #else
              <div style="padding:10px; border:1px solid #ccc; background-color:#f0f0f0; margin:0px; margin-bottom:15px; width:80%; text-align:left;">
            #end
                <b>$i18n.getText("impresence.template.localpresence.config.label.needdummyccount", [ $reporter.name ] )</b><br/>

                <ol>
                    <li>$i18n.getText("impresence.template.localpresence.config.label.createdummyaccount") <a href="$reporter.serviceHomepage" target="_blank">$reporter.name</a>.</li>
                    <li>$i18n.getText("impresence.template.localpresence.config.label.fillindetails")</li>
                </ol>
                </br>
                $i18n.getText("impresence.template.localpresence.config.label.accountsecurityinfo", [ "{im}" ])
              </div>

            <table id="presenceconfigstatetable" class="grid" style="margin:5px 0px; width:80%;">
                <tr>
                    <td class="label" style="margin:0px; width:30%; background-color:#f0f0f0; text-align:right;">$i18n.getText("impresence.template.localpresence.config.label.currentid"):</td>
                    <td nowrap>
                        #if ($reporterId)
                              <span style="color: green; font-weight: bold">$!generalUtil.htmlEncode($reporterId)</span>
                          #else
                              <span style="color: #900; font-weight: bold">$i18n.getText("impresence.template.localpresence.config.label.none")</span>
                          #end
                    </td>
                </tr>
                <tr>
                    <td class="label" style="width:30%; background-color:#f0f0f0; text-align:right;">$i18n.getText("impresence.template.localpresence.config.label.currentpassword"):</td>
                    <td nowrap>
                         #if ($reporterPassword)
                              <span style="color: green; font-weight: bold">$!generalUtil.htmlEncode($reporterPassword)</span>
                          #else
                              <span style="color: #900; font-weight: bold">$i18n.getText("impresence.template.localpresence.config.label.none")</span>
                          #end
                    </td>
                </tr>
                <tr>
                    <td class="label" style="margin:0px; width:30%; background-color:#f0f0f0; text-align:right;">$i18n.getText("impresence.template.jabber.config.label.currentdomain"):</td>
                    <td nowrap>
                        #if ($domain)
                              <span style="color: green; font-weight: bold">$!generalUtil.htmlEncode($domain)</span>
                          #else
                              <span style="color: #900; font-weight: bold">$i18n.getText("impresence.template.localpresence.config.label.none")</span>
                          #end
                    </td>
                </tr>
                <tr>
                    <td class="label" style="margin:0px; width:30%; background-color:#f0f0f0; text-align:right;">$i18n.getText("impresence.template.jabber.config.label.currentport"):</td>
                    <td nowrap>
                        #if ($port)
                              <span style="color: green; font-weight: bold">$!generalUtil.htmlEncode($port)</span>
                          #else
                              <span style="color: #900; font-weight: bold">$i18n.getText("impresence.template.localpresence.config.label.none")</span>
                          #end
                    </td>
                </tr>

            </table>

            <form name="presenceconfigform" action="$req.contextPath/admin/plugins/impresence2/${reporter.key}/doconfig.action" method="POST">
                #form_xsrfToken()
              <table class="grid" style="margin:5px 0px; width:80%;">
                <tr>
                    <td class="label" style="margin:0px; width:30%; background-color:#f0f0f0; text-align:right;">$i18n.getText("impresence.template.localpresence.config.label.newid"):</td>
                    <td nowrap>
                        <input type="text" name="reporterId" size="50" value="$!generalUtil.htmlEncode($reporterId)">
                    </td>
                </tr>
                <tr>
                    <td class="label" style="width:30%; background-color:#f0f0f0; text-align:right;">$i18n.getText("impresence.template.localpresence.config.label.newpassword"):</td>
                    <td nowrap>
                        <input type="text" name="reporterPassword" size="50" value="$!generalUtil.htmlEncode($reporterPassword)" />
                    </td>
                </tr>
                
                <tr>
                    <td class="label" style="margin:0px; width:30%; background-color:#f0f0f0; text-align:right;">$i18n.getText("impresence.template.jabber.config.label.newdomain"):</td>
                    <td nowrap>
                        <input type="text" name="domain" size="50" value="$!generalUtil.htmlEncode($domain)">
                    </td>
                </tr>
                
                <tr>
                    <td class="label" style="margin:0px; width:30%; background-color:#f0f0f0; text-align:right;">$i18n.getText("impresence.template.jabber.config.label.newport"):</td>
                    <td nowrap>
                        <input type="text" name="port" size="50" value="$!generalUtil.htmlEncode($port)">
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="label" style="width:30%; border-width:0px; text-align:left;"><a href="$req.contextPath/admin/plugins/impresence2/config.action">$i18n.getText("impresence.template.localpresence.config.control.link.backtoimconfig")</a></td>
                    <td style="border-width:0px; text-align: right;">
                      <input type="submit" name="update" value="$i18n.getText('impresence.template.localpresence.config.control.button.update')">
                    </td>
                </tr>
              </table>
            </form>
          </div>
        #else
            <div class="errorBox">
                <p> $i18n.getText("impresence.template.localpresence.config.label.needadminconfig", [ $reporter.name ]) </p>
            </div>
        #end
		#parse ( "/admin/admin-breadcrumbs.vm" )
	</body>
</html>